
*.class
target/
*.jar
*.war
*.ear

.mvn/
!.mvn/wrapper/maven-wrapper.jar


.vscode/
.idea/
*.iml
*.ipr
*.iws
.settings/
.project
.classpath


.DS_Store
Thumbs.db
desktop.ini



*.log


*.tmp
*.temp
*.swp
*.swo
*~

bin/
out/
build/
dist/


*.zip
*.tar.gz
*.rar
